# Django #
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual env #
venv/
.env
env_template

# Static file, medios #
/staticfiles/
/media/


# Migration files
*.log
*.pot
*.pyc
*.mo

# env work files #
.idea/
.vscode/
*.swp